services:
  app:
    init: true
    build: ./docker/app
    stdin_open: true
    tty: true
    volumes:
      - app:/app
    # depends_on:
    #   - db
    ports:
      - 4000:4000
    command: "/run.sh"
    networks:
      - default

#  db:
#    image: postgres:16.3-alpine
#    command: 'postgres -c "max_connections=200"'
#    ports:
#      - 5432:5432
#    environment:
#      POSTGRES_USER: postgres
#      POSTGRES_PASSWORD: postgres
#    volumes:
#      - type: volume
#        source: postgres-data
#        target: /var/lib/postgresql/data
#        volume:
#          nocopy: true
#    networks:
#      - default

volumes:
  #  postgres-data:
  app:
    # The lines below need to be removed when using mutagen
    driver: local
    driver_opts:
      o: bind
      type: none
      device: .
